#actorDiv{
    margin: 10px;
}


/* //////////All Actors\\\\\\\\\\\\\\\ */

#allActorBox{
    overflow-x: hidden;
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    
    position: relative;
    margin-top: 280px;
    left: 35%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

#allActorBox::-webkit-scrollbar{
    display: none;
}

#allActorTable{ 
    height: 300px;
    width: 900px; 
    color: white;
} 

#allActorButton{
    text-align: center;
}

/* //////////top 3 Actors\\\\\\\\\\\\\\\ */
#topText{
    position: relative;
    top: -200px;
}

#topADiv{
    overflow-x: hidden;
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    
    position: relative;
    margin-top: 280px;
    left: 35%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

#topADiv::-webkit-scrollbar{
    display: none;
}

#topA{
    height: 500px;
    width: 900px; 
    color: white;
}

#actorButton{
    display: flex;
    flex-direction: row;
    margin-top: -200px;
    margin-left: 400px;
}

.button{
    width: 180px;
    height: 70px;
    text-align: center;
}

.button .aButton{
    width: 100px;
    height: 40px;
    background: rgb(195, 195, 195);
    border: none;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 3px;
    text-align: center;
    transition: .4s ease-in-out;
}

.aButton:hover{
    cursor: pointer;
    text-decoration: none;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255),
                0 0 20px rgb(255, 255, 255),
                0 0 60px rgb(255, 255, 255),
                0 0 150px rgb(255, 255, 255);
}

/* //////////movie actors played\\\\\\\\\\\\\\\ */

#movieActorText{
    position: relative;
    top: -200px;
}

#MADiv{
    overflow-x: hidden;
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    
    position: absolute;
    top: 275%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

#MADiv::-webkit-scrollbar{
    display: none;
}

#MA{
    height: 500px;
    width: 900px; 
    color: white;
}

#actorMovieButton{
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-left: -20px;
}

.buttonDiv{
    width: 180px;
    height: 70px;
    text-align: center;
}

.buttonDiv .AMButton{
    width: 100px;
    height: 40px;
    background: rgb(195, 195, 195);
    border: none;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 3px;
    text-align: center;
    transition: .4s ease-in-out;
}

.AMButton:hover{
    cursor: pointer;
    text-decoration: none;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255),
                0 0 20px rgb(255, 255, 255),
                0 0 60px rgb(255, 255, 255),
                0 0 150px rgb(255, 255, 255);
}